
    RewriteEngine On

	# Run everything else but real files through index.php
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.*)$ index.php/?$1 [L]

</IfModule>
