

.header-icon{
  margin-top: -2px!important;float: left;margin-right: 5px;
}


.header.dictionary{
  transition: all .3s;
  border-bottom: #E1E4E8 1px solid;
  padding-left: 120px;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-right: 120px;
  position: relative;
  background: #FAFBFC;
}


.header.dictionary.home .hSearch{
  padding: 15px;
}

.hSearch{
  padding: 7px;
}


.header.dictionary.home .hSearch input#wordsearch{
  font-size: 30px;
}


.header.dictionary.home .hSearch a.button{
  margin-top: 10px;
}


.hSearch .button.search{
  width: 8%;
  min-width: 100px;
  margin-top: 0px;
  padding: 9px;
  padding-top: 8px;
  float: right!important;
}

.hSearch .dictionary-selector{
  width: 7%;
}

.hSearch .dd-container{
  float: left;
  margin-top: 3px;
}

.hSearch .dd-container a{
  font-size: 12px;
}


input#wordsearch:focus, input#filter:focus {
  color: #333;
}


input#wordsearch, input#filter, input#searchfilter {
  padding: 9px;
  font-size: 13px;
  text-decoration: none;
  width: 60% - 18px;
  min-width: 100px;
  color: #333;
  transition: all .3s;
}

a.button.search{
  display: inline-block;
  float: right;
  color: #889DB7;
  border-radius: 5px;
  text-align: center;
  padding: 11PX;
  margin-top: 1px;
  margin-left: 2px;
  width: 29%;
  transition: background .3s, color .1s;
}

a.button.search:hover{
  background: #E6ECF2;
}

div.hSearchResults-inner{

}

div.hSearchResults-inner.padding-5{
   padding: 3px;
   margin-top: 10px;
   padding-top: 20px;
   padding-bottom: 20px;
   clear: both;
}


div.hSearchResult{
}

div.hSearch .load-hide{
  margin-top: 15px;
  margin-right: 20px;
  display: none;
  float: right;
  position: relative;
}


.hWrap{
  padding-bottom: 10px;
}

.hSearch{
  font-size: 15px;
  text-decoration: none;
background: white;
  color: rgb(150, 150, 150);
  border: rgba(150, 150, 150, 0.2) 1px solid;
}

.hSearch input#wordsearch{
  border: none;
  display: inline-block;
  margin-top: 1px;
  padding: 9px;
  margin-left: 10px;
  width: calc(67% - 100px);
  min-width: 300px;
  margin-top: 0px;
  float: left;
  font-family: Libre Franklin;
  font-size: 18px;
  padding-top: 9px;
  background: transparent;
}





.header.dictionary.home .dd-container{
  margin-top: 12px;
}


.header .dd-select {
border-radius: 0px;
position:relative;
cursor:pointer;
}

.header .dd-desc {
color:#aaa;
display:block;
overflow:hidden;
font-weight:400;
line-height:1.4em;
}

.header .dd-selected {
overflow:hidden;
border-radius:0px;
display:block;
font-weight:700;
padding:10px;
color: #727272!important;
background: #f9f9f9;
background: linear-gradient(#eee, #e4e4e4);
 border: 1px solid rgba(27, 31, 35, 0.1);
 border-radius: 5px;
}

.header .dd-pointer {
width:0;
height:0;
position:absolute;
right:10px;
top:50%;
margin-top:-3px;
}

.header .dd-pointer-down {
border:solid 5px transparent;
border-top:solid 5px #727272;
}

.header .dd-pointer-up {
border:solid 5px transparent!important;
border-bottom:solid 5px #727272!important;
margin-top:-8px;
}

.header .dd-container.open .header .dd-select {
border-radius:0!important;
}

.header .dd-options {
border-radius:0px;
border-top:none;
list-style:none;
display:none;
position:absolute;
z-index:2000;
background:#E6ECF2;
overflow:auto;
margin:0;
padding:0;
}

.header .dd-option {
display:block;
border-bottom:solid 1px #E6EBEE;
overflow:hidden;
text-decoration:none;
color:#8B98AF;
cursor:pointer;
-webkit-transition:all .25s ease-in-out;
-moz-transition:all .25s ease-in-out;
-o-transition:all .25s ease-in-out;
-ms-transition:all .25s ease-in-out;
padding:10px;
}

.header .dd-options > li:last-child > .header .dd-option {
border-bottom:none;
}

.header .dd-option:hover {
background:#f3f3f3;
color:#8B98AF;
}

.header .dd-selected-description-truncated {
text-overflow:ellipsis;
white-space:nowrap;
}

.header .dd-option-selected {
background:#f6f6f6;
}

.header .dd-option-image,.header .dd-selected-image {
vertical-align:middle;
float:left;
margin-right:5px;
max-width:64px;
}

.header .dd-image-right {
float:right;
margin-right:15px;
margin-left:5px;
}

.header .dd-container {
position:relative;
}

