
div.hStripe{
  margin-top: 0px;
  padding-top: 25px;
  background: #eee;
}

.absolute_header
{
  text-decoration:none;
  margin-bottom: 15px;
  margin-top: 15px;
}

.absolute_header .inner{

  padding: 10px;
  border: 1px #e6e6e6 solid;
  border-radius: 5px;
  border-bottom: 0;
  padding-bottom: 0px;
}


.absolute_header a{
  color: #222;
}

.absolute_header .user
{
  float:right;
  font-size:12px;
  margin-top:5px;
}

div.siteTitle{
  padding-top: 10px;
  display: inline-block;
}

a.siteTitle
{
  font-size:20px;
  font-weight:700;
  margin-top:0px;
  font-family: Verdana;
  padding: 5px;
  color:#111;
}

a.siteTitle div{
  padding-top: 15px;
}


.header-icon
{
  float:left;
  margin-right:5px;
  margin-top:-2px!important;
}

.header.dictionary
{
  transition:all .1s;
}

.header.dictionary.home
{
  padding-bottom: 0px!important;
  padding-top: 10px!important;
  margin-top: 40px;
  width: 100%;
}

.header.dictionary.home a.st-back
{
  display:none!important;
  margin:0;
  padding-right:0!important;
}

.btCard .header.dictionary
{
  padding:0;
}

.header.dictionary.pentry
{
  display:none;
}

.header.dictionary.home-search
{
  padding-bottom: 0px!important;
  padding-top: 6px!important;
  margin-bottom: 0px;
  margin-top: -10px;
  width: 35%;
}


.header.dictionary div.icon-row{
  float: left;
  display: block;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  width: 24px;
}

.header.dictionary.home div.icon-row{
   display: none;
}

.header.dictionary.home div.icon-row a.goBack{
  display: none;
}

.header.dictionary.home-search div.icon-row a.goBack{
  display: inline-block;
  margin-right: 10px;
  color: #969697;
}

.header.dictionary.home-search input#wordsearch{
  margin-top: 7px;
  border-radius: 0px!important;
  font-size: 16px;
  padding: 6px;
  padding-top: 1px;
  padding-bottom: 1px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #e5e5e5;
  color: #9b9b9b;
  margin-bottom: 4px;
  margin-top: 6px;
  float: left;
  width: calc(100% - 50px);
}

.header.dictionary input#wordsearch:focus{
  background: white;
  color: black;
  border-radius: 5px 5px 0px 0px;
}

.header.dictionary.pentry div.card-tabs-bar
{
  display:none!important;
}

.hSearch
{
  color:#969696;
  font-size:15px;
  padding:0!important;
  text-decoration:none;
}



.hSearch .dictionary-selector
{
  width:7%;
}

.hSearch .dd-container
{
  float:left;
  margin-top:3px;
}

.hSearch .dd-container a
{
  font-size:12px;
}

input#wordsearch::placeholder
{
  color:#666;
}

input#wordsearch:focus,input#filter:focus
{
  color:#333;
}

a.button.search
{
  border-radius:5px;
  color:#889DB7;
  display:inline-block;
  float:right;
  margin-left:2px;
  margin-top:1px;
  padding:11px;
  text-align:center;
  transition:background .3s, color .1s;
  width:29%;
}

a.button.search:hover
{
  background:#E6ECF2;
}


div.hSearchResults{

}

div.hSearchResults-fix{
  overflow: visible;
  width: 100%;
}

div.hSearchResults-flex{
  padding-top: 10px;
  display: flex;
  width: 100%;
  height: 100%;
}


div.hSearchResults-left{
  width: 25%;
  min-width: 200px;
  align-items: stretch;
  padding-right: 10px;
    margin-top: -10px;
}



div.hSearchResults-inner{
  padding-top: 12px;
  min-height: 450px;
  max-height: 550px;
  overflow-y: auto;
  overflow-x: hidden;
}

div.hSearchResults-preview{
  width: 75%;
  float: left;
  min-width: 600px;
  border-radius: 0px 5px 5px 0px;
  align-items: stretch;
  padding: 10px;
  margin-top: -42px;
  background-color: #fafafa;
  border: 1px dotted #e5e5e5;
  box-shadow: inset 0 0 10px rg;
}

div.hSearchResults-pInner{
    min-height: 450px;
  max-height: 550px;
  overflow-y: auto;
  overflow-x: hidden;
  overflow: scroll;
}

div.hSearchResults-preview div.hIcon{
  margin: 0 auto;
  text-align: center;
  margin-top: 10%;
  color: #e1e1e1;
}

div.hSearch .load-hide
{
  display:none;
  float:right;
  margin-right:20px;
  margin-top:15px;
}

.header.home input#wordsearch:focus{
  border: 1px solid #eee!important;
}

input#wordsearch
{
  background: #f4f4f4;
  border: 0;
  border-radius: 5px;
  width: calc(100%);
    border: 1px solid transparent;
    border: 1px #e6e6e6 solid;
  margin-top: -37px;
  float:left;
  font-family:Noto Sans;
  font-size:18px;
  float: left;
  padding:10px;
  transition:all .1s;
  font-size: 20px;
}

.header.dictionary div.card-tabs-bar
{
  border:none;
  margin-top:-8px;
}

.header.dictionary div.card-tabs-bar a
{
  font-size:15px!important;
  padding:4px 15px 1px;
}


.header.dictionary div.card-tabs-bar a.em,.header.dictionary div.card-tabs-bar a.emS
{
  padding:4px 9px 9px;
}

.header.dictionary div.card-tabs-bar a.em:hover,.header.dictionary div.card-tabs-bar a.emS:hover
{
  padding:3px 8px 8px;
}

.header.dictionary div.card-tabs-bar.selectorTabs-h a.active
{
  background:#ffff;
  border:rgba(150,150,150,0.2) 1px solid;
  border-bottom:none;
  color:#000;
}

.header.dictionary.home-search div.card-tabs-bar.selectorTabs-h a.active
{
  background:#FFF;
}


.hSearch div.card-tabs-bar.selectorTabs-h
{
  border-top:none;
}

div.landing-about
{
  background:#FFF;
  border-top:none;
  padding: 30px;
  margin-bottom: -50px;
  transition: all .3s;
  border-radius: 5px!important;

}

div.landing-content{
  border-radius: 5px!important;
}



/* Navigation*/

div.nav {
  display: block;
  color: #000!important;
  background: #eee;
  transition: all .3s;
  padding-left: 0px;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: 0px;
  margin-bottom: 0px;  
}

div.nav a:first-child{
}

div.nav a {
  padding: 6px;
  color: #111;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 13px;
  margin-top: -1px;
  text-decoration: none;
  letter-spacing: .05em;
  white-space: normal;
  font-weight: 500;
  display: inline-block;
  margin-top: 0px;
  border-bottom: 3px transparent solid;
  margin-left: 7px;
}



div.nav a.active{


  color: white;
}

div.nav a.orange{
  background: #EC9416;
  border-bottom: 3px solid #D9840A;
  float: right;
}


div.nav a.orange.active{
  background: #40BA9C;
  border-bottom: 3px solid #399C84;
  float: right;
    color: white;
  font-weight: bolder;
}

div.nav a.admin{
  background: #eee;
  border-bottom: 3px solid #e6e6e6;
  float: right;
  margin-right: 5px;
}

div.nav a.admin.active{
  background: #329D55;
  border-bottom: 3px solid #2B8B4A;
  color: white;
  font-weight: bolder;
}
