@import url(https://fonts.googleapis.com/css?family=Libre+Franklin|Merriweather|Lato|Open+Sans|Raleway);
@font-face{font-family:Gentium;src:url(vendors/fonts/GenBasR.ttf)}@font-face{font-family:Gentium;src:url(vendors/fonts/GenBasB.ttf);font-weight:700}@font-face{font-family:Gentium;src:url(vendors/fonts/GenBasI.ttf);font-style:italic}


/* Basic elements */

*, *:before, *:after {
  box-sizing: inherit;
}


 ::-moz-selection {
  background: #5EA273;
  color: #fff;
  font-style: italic;
}

 ::Selection {
  background: #5EA273;
  font-style: italic;
  color: #fff;
}


html, body {
  margin: 0;
  box-sizing: border-box;
  height:100%;
  padding: 0;
  font-family: Open Sans;
  background: radial-gradient(circle, #e1e1e1, #f4f4f4);
  font-size: 12px;
}


div {
  transition: none;
}

a {
  text-decoration: none;
  color: #005b7f;
  outline: 0;
   transition: color .3s;
}


a:hover, a:active, a:focus {
  /* styling for any way a link is about to be used */
}


a:hover {
  color: black;
}


p{
  display: inline;
}

/* Basic modifiers*/

.em{
  font-style: italic;
}


.xsmall, .xsmall i.fa {
  font-size: 9px!important;
}

.small, .small i.fa {
  font-size: 11px!important;
}

.medium {
  font-size: 13px!important;
}

.opensans{
  font-family: arial!important;
}

.counter {
  display: inline-block;
  padding: 2px 5px;
  font-style: normal!important;
  font-size: 11px;
  font-family: Raleway!important;
  font-weight: bold;
  line-height: 1;
  color: #666;
  background-color: #ddd;
  border-radius: 20px;
}

.inline-title, .small-caps {
  font-size: 15px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .1em;
  white-space: normal;
  font-weight: 500;
}

.small-caps.title {
  font-size: 16px;
  font-weight: bolder;
  font-family: Trebuchet MS;
}

.no-bottom-margin{
  margin-bottom: 0px!important;
}

span.tab, div.tab {
  display: inline-block;
  padding-left: 15px;
  padding-top: 5px;
}

.float-right {
  float: right!important;
}

.float-left {
  float: left!important;
}

.no-float{
  float: none!important;
}

.max-20 {
  width: 20%!important;
  max-width: 20%!important;
  overflow: visible;
}

.left49 {
  float: left;
  width: 49%;
}

.right49 {
  float: right;
  width: 49%;
}

.row-left{ float: left; width: 33%; padding: 1px;}
.row-right{ float: right; width: 33%; padding: 1px;}
.row-center{ display: inline-block; width: 33%; padding: 1px;}

#cl {
  clear: both;
}

.bga1 {
  border-bottom: 3px double #D26232;
}

.oei br {
  line-height: 1em;
}

.no-border{
  border: none!important;
}


/* Basic layout elements*/

.absolute_header {
  padding: 3px;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 10px;
  background: #000;
  border-bottom: 1px solid #222;
  color: snow;
  min-height: 15px;
}

.absolute_header a{
  color: #fff;
}



.absolute_header a:hover, html.pAdmin .absolute_header a:hover {
  color: orange;
}

div.logotop{
  font-size: 11px;
  height: 100%;
  display: inline-block;
  margin-top: 7px;
  float: right;
}

a.logotop {
  padding-bottom: 2px;
  color: snow;
    font-family: Lato;
    font-size: 26px;
  border-bottom: 3px double rgba(46,54,76, 0.1);
}

a.logotop img{
  width: 18px;
  height: auto;
}

a.logotop:hover{
  border-bottom: 1px dotted #ccc;
  color: snow;
}

div.outerwrap {

  background: rgba(220, 220, 220, 0.3);
}

.ulWrap {
  border: 1px solid rgba(201,230,242, 0.5); 
  border-top: none;
  box-shadow: 0px 1px 3px rgba(100, 100, 100, 0.05);
  padding: 0px!important;
}


.fill_gaps{
  background: #eee;
  margin-right: 5%;
  margin-left: 5%;

}

.header {
  padding: 20px;
  padding-top: 15px;
  padding-bottom: 0px;
  font-size: 16px!important;
  background: #f2f9fc;
   border-bottom: 1px solid #c9e6f2;;
  color: #333;
    padding-top: 20px;
  padding-bottom: 10px;
  padding-right: 45px;
  padding-left: 45px;
 
}

.header-icon{
  margin-top: -2px;!important;float: left;margin-right: 5px;
}



.page {
  padding: 0px;
  padding-top: 25px;
  padding-bottom: 20px;
  background-position: 10% 10%;
  background: rgba(254,254,254, 1);
  height: auto;
  padding-bottom: 25px;
}

.inner-page{
    background-image: -webkit-linear-gradient(top, rgba(240,240,240, 0.1), rgba(254,254,254, 0.1) 50%);
    margin: 5px;
    padding: 10px;
    margin-top: -20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.home-margin{
  width: 88%;
  margin: 0 auto;

}

.absolute_footer {
  margin-bottom: 50px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
  padding: 3px;
  padding-left: 2px;
  padding-top: 10px;
  border-top: 1px solid #d2d4d7;
  text-shadow: 1px 2px 3px #fff, 0 0 0 #000, 1px 4px 6px #fff;
  opacity: 0.7;
  font-size: 8.5px;
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .1em;
  white-space: normal;
  font-weight: 500;
}

.absolute_footer a{
  color: #333!important;
  border-color:#333!important;
}


/* Navition*/

div.nav {
  color: #fff;
  background-color: #5E6573; 
  background: radial-gradient(circle, #f4f4f4, #f9f9f9);
  padding-top: 4px;
  padding-bottom: 4px;
  clear: both;
  color: #000;
  width: 100%;
  transition: all .3s;
}


div.nav a {
  padding: 15px;
  padding-top: 6px;
  padding-bottom: 4px;
  font-size: 11px;
  background: rgba(240, 245, 248, 0.3);
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .1em;
  white-space: normal;
  font-weight: 500;
}

div.nav a#admin, div.nav a#editor{
  color: #333;
  padding-top: 0spx;
  padding-bottom: 2px;
  border-radius: 7px 7px 0px 0px;
  margin-right: 20px;
  float: right;
  padding-left: 4px;
  padding-right: 4px;
  letter-spacing: .05em;
  font-size: 9px;
  margin-top: -1px;
}

div.nav a#admin:hover{
  background: #333;
  color: snow;
}


div.nav.home{
  
}

div.nav.home a{
}

div.nav a#editor{
  margin-right: 5px;
}

div.nav a:hover {
  text-decoration: underline;
}

div.adminmenu {
  margin-left: -20px;
  margin-top: 5px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
  height: 24px;
  float: right;
}

div.adminmenu a.active {
  background: #333;
  color: snow;
}

div.adminmenu a {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 3px;
  line-height: 20px;
  font-family: Open Sans;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 13px;
  color: #333;
  border-radius: 10px;
  text-decoration: none;
}

div.adminmenu a:hover {
  background: #333;
  color: white;
}

div.adminsubmenu {
  margin-left: -20px;
  border-bottom: 3px double #ccc;
  border-left: 3px double #ccc;
  border-top: 3px double #ccc;
  margin-top: 10px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
  background: #eee;
  min-width: 50%;
  padding: 0;
  margin-top: 2px;
  height: auto;
  border-radius: 0px;
}

div.adminsubmenu a {
  padding: 4px 8px;
  border-radius: 0px;
  line-height: 20px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 13px;
  color: #333;
  text-decoration: none;
  display: inline-block;
}

div.adminsubmenu a.active {
  background: #bb0a21;
  ;
  margin-left: 0px;
  color: white;
  display: inline-block!important;
}

div.adminsubmenu a.active i.fa {
  font-size: 8px;
}

div.adminsubmenu a i.fa {
  font-size: 13px!important;
}

div.adminsubmenu a:hover {
  background: #777;
  color: #f2f2f2;
}

a.button, a.buttona {
  padding: 9px;
  font-size: 15px;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

a.button.buttonheader {
  background: #e3e3e3;
  color: #333;
  margin-top: 4px;
  font-size: 12px;
}

a.button .fa {
  font-size: 18px;
}

span.admin {
  background-color: #3F6A77!important;
}

.remember, .fetch {
  background-color: #525E7A;
}

.throw {
  background-color: #ba413f;
}

.white-icon {
  background-color: #fff;
  color: #373f51!important;
}

.white-icon i.fa {
  color: #373f51!important;
}

a.remember:hover, a.fetch:hover, a.throw:hover {
  color: #14171e;
  background: #5b6170;
}

.footer {
  background: ;
  background: radial-gradient(circle, #EAF0F2 , #f2f9fc);
  color: #444;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;  
  font-size: 12px;
}

.absolute_footer a.tooltip{
  font-family: Open Sans!important;
}

.footer .right {
  float: right;
  margin-right: 10px;
}

.absolute_footer img {
  height: 15px;
  float: right;
  width: auto;
}

.footer a {
  color: #444;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}



.bar {
  width: 50%;
  height: 8px;
  background: #e3e3e3;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.progress {
  background: red;
  display: block;
  background-image: linear-gradient(top, #21a62e, #2f8f28);
  background-image: -webkit-linear-gradient(top, #21a62e, #2f8f28);
  height: 8px;
  margin-top: -8px;
  border-radius: 6px;
}

.fetchbar {
  background: red;
  display: block;
  opacity: 0.5;
  margin-top: -8px;
  background-image: linear-gradient(top, #21a62e, #2f8f28);
  background-image: -webkit-linear-gradient(top, #21a62e, #2f8f28);
  height: 8px;
  border-radius: 6px;
}

::selection {
  background-color: #1f6536;
}

.alphabetbar {
  margin-left: -20px;
  margin-top: 5px;
  margin-right: -20px;
  height: 24px;
  background: #fcf893  border-radius: 7px 0px 0px 7px;
  padding-left: 20px;
}

.alphabetbar a {
  display: inline-block;
  text-align: center;
  position: relative;
  z-index: 40px;
  color: ;
  border-bottom: dotted 1px #c8c8c8;
  min-width: 10px;
  min-height: 10px;
  font-family: Raleway;
  font-size: 10px;
  padding: 2px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 4px;
}

.alphabetbar a.selected {
  opacity: 1;
  background: #5b6170;
  border-bottom: 1px transparent solid;
  color: snow;
}

.alphabetbar a:hover {
  color: #14171e;
  background: #5b6170;
  opacity: 0.8;
}

#dictionary .results {
  font-size: 12px;
  margin-bottom: -10px;
  display: block;
}

div.userbox {
  background: #D1D1D1;
  border-radius: 3px;
  border: #c1c1c1 solid 1px;
  padding: 10px;
  width: 23%;
}

.userbox .inner {
  background: #f8f8f8;
  padding: 10px;
  color: #333;
  border-radius: 3px;
  border: #c1c1c1 solid 1px;
}

.userbox .inner .avatar img {
  width: 43px;
  height: 43px;
  margin-right: 4px;
  float: left;
  border-radius: 3px;
}

.userbox .inner .username {
  font-weight: bold;
  font-size: 18px;
  color: #333;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.rank-icon {
  font-weight: normal!important;
  padding: 2px;
  display: inline-block;
  border-radius: 3px;
  width: 18px;
  text-align: center;
  height: 18px;
}

.rank-icon .fa {
  color: #f8f8f8;
  font-size: 15px;
}

.rank-text {
  background: #e3e3e3;
  padding: 2px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.twosplitgray {
  padding: 3px;
  border-radius: 3px;
  background: #d7d7d7;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.twosplitgray .one {
  float: left;
  background: #F2F2F2;
  width: 48%;
  border-radius: 2px;
  padding: 2px;
}

.twosplitgray .two {
  float: right;
  background: #F2F2F2;
  width: 48%;
  border-radius: 2px;
  padding: 2px;
}

.actionbutton{
  border-radius: 6px;
  padding: 5px;
  background-image: linear-gradient(#fcfcfc, #eee);
  border: 1px solid #d5d5d5;
  text-decoration: none;
  color: #333;
  font-size: 12px;
  margin-left: 2px;
  margin-right: 2px;
  cursor: pointer!important;
}

.back-mini{
  position: relative;
  top: -55px;
  font-size: 12px!important;
  float: left;
  color: #000;
  left: -15px;
}

.back-mini.search{
  top: -39.5px!important;
  color: #333;
}

.back-mini.wiki{
  top: 7px;
  left: -20px;
}

.back-mini.alphabet{
  top: -48px;
  color: #333;
}

.back-mini i.fa{
    font-size: 12px!important;
}

.tooltip.editing{
  margin-left: 2px;
  margin-right: 2px;
  padding: 5px;
  font-family: initial!important;
}

.actionbutton.editing{
  border-style: dashed;
  background: #fff;
}

.actionbutton.readmore {
  font-size: 11px;
  background: none;
  border: none;
}

.actionbutton:hover {
  background: #ccc;
}

.actionbutton .fa {
  font-size: 12px;
}

.actionbutton i.fa {}

div.title {
  font-size: 20px;
  font-weight: bolder;
  font-family: Open Sans;
}

div.title.small {
  font-size: 15px;
  margin-bottom: 5px;
}


span.icon-circle{
  display: inline-block;
  border-radius: 50%;
  padding: 5px;
}

span.icon-circle.c-8{
  line-height: 0px; height: 10px; width: 10px;
}span.icon-circle.c-10{
  line-height: 0px; height: 10px; width: 10px;
}span.icon-circle.c-12{
  line-height: 0px; height: 12px; width: 12px;
}span.icon-circle.c-15{
  line-height: 0px; height: 15px; width: 15px;
}span.icon-circle.c-16{
  line-height: 0px; height: 16px; width: 16px;
}span.icon-circle.c-24{
  line-height: 0px; height: 24px; width: 24px;
}
span.icon-circle.light, span.icon-circle.light i.fa{
  color: white;
}
span.icon-circle.dark, span.icon-circle.dark i.fa{
  color: white;
}
span.icon-circle.circle-white{
  background: white;
}
span.icon-circle.circle-orange{
  background: D85600;
}




.icon-box {

  float: left;
  width: 20px;
  height: 20px;
  text-align: center;
  margin-right: 5px;
  color: white;
  font-family: Raleway;
  font-weight: bolder;
  margin-top: 4px;
  line-height: 58%;
  border-radius: 40px;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}

.page .icon-box{
  line-height: 70%;
}

.icon-box i.fa {
  margin: 0px;
  font-size: 14px!important;
}

div.icon-box.small {
  width: 14px;
  height: 14px;
}

div.icon-box i.fa {
  font-size: 24px;
  color: #fff;
}

div.icon-box.small i.fa {
  font-size: 10px!important;
}


div.chooser {
  padding: 4px;
  margin-right: 0px;
}

div.chooser a {
  padding: 3px;
  border-radius: 8px;
  color: #333;
  text-decoration: none;
}

div.chooser a:hover {
  text-decoration: underline;
}

div.chooser a.active {
  color: #fff;
}

table.noshow {
  padding: 0;
  border: none;
}

table.noshow tr {
  border: none;
}

table.noshow tr td {
  border: none;
  vertical-align: top;

}

table.noshow td.search{
   border: 1px solid #ddd;
   border-radius: 7px;
  padding: 10px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: block;
  width: 18%;
  float: left;
  height: auto;
}

table.noshow td.content {
  display: block;
  padding-top: 10px;
  padding: 0px;
  width: 80.8%;
  float: right;  
  position: static;
}

.title_header {
  font-size: 24px;
  font-family: 'Raleway';
  font-weight: bold;
  padding: 20px;
  padding: 0px;
}

select.pEditorlanguage {
  font-size: 20px;
  font-family: 'Raleway';
  margin-left: 20px;
}

table.login {
  width: 100%;
  margin: 4px auto;
  border-radius: 4px;
  border-spacing: 0;
  margin-top: -4px;
}

table tr td.center {
  text-align: center;
}

table.login input, table.admin input {
  width: 92%;
  padding: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: 1px solid #d1d1d1;
}

table.login textarea, table.admin textarea {
  width: 92%;
  padding: 12px;
  padding-top: 6px;
  height: 60px;
  font-family: 'Lato', sans-serif;
  padding-bottom: 6px;
  border: 1px solid #d1d1d1;
  font-family: monospace;
}

table.login select, table.admin select, .btCard select {
  width: 96%;
  padding: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: 1px solid #d1d1d1;
}

table.login a.rcvr {
  font-size: 12px;
}

.notice{
    display: block;
    padding: 4px;
    color: #3a87ad;
    margin: 4px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 6px;
}

.danger-notice{
    display: block;
    padding: 4px;
    color: #b94a48;
    margin: 4px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 6px;
}

.succes-notice{
    display: block;
    padding: 4px;
    color: #468847;
    margin: 4px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 6px;
}

.adminsection .notice, .adminsection .ajaxloadadd {
  margin: 0 auto;
}


.hide {
  display: none;
}


input#wordsearch, input#filter, input#searchfilter {
  padding: 9px;
  font-size: 15px;
  text-decoration: none;
  width: 60% - 18px;
  font-family: Gentium;
  font-style: italic;
  color: rgb(150, 150, 150);
  border: rgba(150, 150, 150, 0.2) 1px solid;
}

a.button.search{
  display: inline-block;
  float: right;
  background: #D85600;
  border: 3px double #B63400;
  text-align: center;
  padding: 11PX;
  margin-top: 1px;
  margin-left: 2px;
  width: 29%;
  transition: background .3s, color .1s;
}

a.button.search:hover{
  background: #BA603A;
}

.hSearch{
  padding: 9px;
  font-size: 15px;
  text-decoration: none;
  background: white;
  color: rgb(150, 150, 150);
  border: rgba(150, 150, 150, 0.2) 1px solid;
}

.hSearch input#wordsearch{
  border: none;
  display: inline-block;
  margin-top: 1px;
  padding: 9px;
  margin-left: 3px;
  width: 70%;
  margin-top: 0px;
  float: left;
  font-size: 16px;
}


.header.dictionary{

  transition: all .3s;
  background: rgba(240,247,250, 0.6);
  padding: 60px;
  padding-bottom: 0px!important;
  padding-top: 10px;
  border: none;
  margin-bottom: 25px;
  position: relative;
}

.header.dictionary img.logo, .header.dictionary.home-search img.logo-2{

  height: 25px;
  width: auto;
  transition: all .3s;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  background: #2B3D4F;
  padding: 5px;
  border-radius: 0px 0px 7px 7px;
  padding-bottom: 10px;
  display: block;
  margin-top: -10px;
  margin-left: -45px;


}


.header.dictionary.home img.logo{
  border: none;
  height: 50px;
  width: auto;
  transition: all .3s;
  padding: 0px;
  margin: 0px;
  filter: none;
  background: transparent;
}



.header.dictionary.home .notice{
  color: snow;
}


.header.dictionary.home{
  padding: 70px;
  padding-bottom: 50px!important;
  position: relative;
  border: 1px transparent solid!important;
  background: transparent;

  
}

.header.dictionary.home.wiki{
  padding: 20px!important;
  margin-bottom: 10px;
}




.header.dictionary.home .hSearch .select2-container{
  font-size: 15px!important;
  margin-top: 6px;
}



.header.dictionary.home .hSearch{
  padding: 15px;
}


.header.dictionary.home .hSearch input#wordsearch{
  font-size: 30px;
}


.header.dictionary.home .hSearch a.button{
  margin-top: 5px;
}


.hSearch .button.search{
  width: 10%;
  margin-top: 0px;
  padding: 9px;
  padding-top: 8px;
  float: right!important;
}


.hSearch .select2-container {
  font-size: 13px!important;
  display: inline-block;
  float:left;
  width: 30%;
}

.hSearch .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 38px!important;
    position: absolute;
    top: 1px!important;
    right: 12px!important;
    width: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 27px!important;
    position: absolute;
    top: 1px!important;
    right: 10px!important;
    width: 20px;
}
.hSearch .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #fff transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;
}

.hSearch .select2-results__option .select2-results__message{
  display: none!important;
}

.hSearch .select2-search--dropdown .select2-search__field{
    display: none!important;
    background: red;
}

.hSearch .select2-search--dropdown{
  background-color: #f7f7f7!important;
}

.hSearch .select2-search--dropdown input{
    background-color: #f7f7f7!important;
    color: snow!important;
}



.hSearch .select2-container .select2-selection--single .select2-selection__rendered {
  background: #26272A !important;
  color: snow!important;
  padding: 5px;
}


input#filter {
  width: 80%;
}

input#wordsearch:focus, input#filter:focus {
  color: #222;
}

input#wordsearch:not(:placeholder-shown), input#filter:not(:placeholder-shown) {
  color: #222!important;
}

img.dFlag {
  width: 13px;
  height: auto;
  opacity: 0.6;
  cursor: pointer;
}

img.dFlag:hover {
  opacity: 1;
}

strong.dWord {
  font-size: 19px;
  cursor: pointer;
  font-family: Merriweather;
}

.moveResults strong.dWord {
  font-size: 14px!important;
}

strong.dWord:hover {}

strong.dWord a {
  color: #393d47;
}

strong.dWord a:hover {
  color: #D85338;
  text-decoration: underline;
}

.flaghome {
  width: 200px;
  margin-left: 10px;
  height: auto;
}

#dictionary {
  padding: 2px;
}

.dWordWrapper {
  padding: 15px;
  padding-left: 7px;
  padding-top: 5px;
  margin-bottom: 5px;
}

.dWordWrapper:hover {
  background: rgba(200, 200, 200, 0.05)!important;
}

.dWordWrapper a.tooltip, .wordLink.tooltip {
  color: #333;
  font-size: 16px;
}

.dWordWrapper .tooltip {
  font-family: Lato;
  font-size: 15px;
}


.dType .tooltip {
  font-family: Gentium;
}

.dWordWrapper .tooltip:hover {
  font-style: normal;
}

.dWordWrapper ol {
  margin: 20px;
  margin-top: 3px;
  margin-left: 20px;
  margin-bottom: 0px;
  padding: 0px;
  font-weight: bolder;
  font-size: 10px;
  vertical-align: top;
  color: #34392A;
  width: 50%;
}

.dWordWrapper ol li em {
  font-family: Open Sans;
  font-size: 12px;
}

.dWordWrapper ol span {
  font-size: 16px;
  vertical-align: baseline;
  font-weight: normal;
  color: #333;
}

.dWordWrapper ol span p.desc {
  margin: 0px;
  font-size: 80%;
  background: rgba(140, 140, 140, 0.1);
  width: auto;
  display: inline-block;
}

.moveResults:empty{
  border:none;
  margin-top: -10px;
}

.moveResults{
  background: #fff;
  margin-bottom: -20px;
  margin-top: -20px;
}


.moveResults .dWordWrapper:before{
  content: "";
}
.moveResults .dWordWrapper {

  margin: 0px;
  border: none;
  margin: -2px;
  margin-bottom: 10px;
  background: transparent;
  padding: 10px;
}

.moveResults .dWordWrapper .tooltip, .wordLink.tooltip {
  font-family: Gentium;
}

.moveResults .dWordWrapper ol, ol.inline {
  padding: 0px;
  margin: 0px;
  margin-left: 10px;
  font-weight: bolder;
  font-size: 8px;
  vertical-align: top;
  color: #34392A;
  display: inline;
  list-style: none;
  background: rgba(140, 140, 140, 0.1);
}

.moveResults .dWordWrapper ol li, ol.inline li {
  display: inline;
  list-style: none;
}

.moveResults .dWordWrapper ol li:after, ol.inline li:after {
  content: ", ";
}

.moveResults .dWordWrapper ol li:last-child:after, ol.inline li:last-child:after {
  content: "";
}

.dWordWrapper ol span {
  font-size: 16px;
  vertical-align: baseline;
  font-weight: normal;
  color: #333;
}

.dWordWrapper ol span p.desc {
  margin: 0px;
  font-size: 80%;
  background: rgba(140, 140, 140, 0.1);
  width: auto;
  display: inline-block;
}

.dialogedit {
  position: relative;
  background: #fff;
  display: none;
  margin-top: 14px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: -10px;
  padding: 20px;
}

.dialogaddnew {
  margin: -20px;
  margin-top: 10px;
  margin-bottom: -10px;
  padding: 30px;
}

.round {
  border: 1px solid transparent;
  border-radius: 360px;
}

.dialogedit table tr td:first-child {
  font-size: 14px;
  color: #333;
  font-weight: bold;
  vertical-align: top;
  text-transform: lowercase;
}

.dialogedit:after {
  bottom: 100%;
  left: 3%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(216, 216, 216, 0);
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}

.dialogedit .notice {
  margin: -15px;
  margin-bottom: -25px;
}

.dDesc {
  margin-left: 20px;
  font-size: 11px;
  font-family: monospace;
}

.dType {
  font-size: 11px;
}

.dGender {
  font-size: 11px;
}

.dPron {
  font-size: 12px;
  color: grey;
  cursor: pointer;
}

.dInflection {
  font-weight: normal;
  font-size: 12px;
  color: grey;
}

.dInflection strong {
  font-weight: normal;
}

.tooltip {
  cursor: pointer;
  border-bottom: dotted 1px lightgray;
  font-family: Gentium;
}

.table-link{
  font-size: 0!important;
  display: inline-block;
  color: black;
  width: auto;
  padding: 3px;
}

div.table-links-list{

max-width: calc(100%);
}

div.table-links-list:hover{
}
div.table-links-list:hover .tooltip.table-link{

}

.table-link i.fa{
  transition: font-size .3s;
  margin-right: 4px;
}

.table-link{
  margin: 4px;
  font-size:0!important;
  padding: 5px;
}

.table-link:hover i.fa{
  color:#4A618E!important;
}

.table-link:hover span.counter{
  background: #4A618E!important;
  color: white;
}

.tooltip:hover {
  font-weight: bold;
  font-style: italic;
}

a.tooltip {
  color: black;
}

.dTranslation {
  font: tahoma;
  text-decoration: underline;
}

.dPron:hover {
  font-size: 16px;
}

div.bendAJAX {
  margin: 5px;
}

table.verbs {
  border-spacing: 0;
  width: 100%;
  margin-top: 2px;
}

table.verbs.ipa {
  margin: 0px;
  width: 100%!important;
  margin-bottom: 20px;
}

table.verbs.ipa tr.temps td {
  border: none!important;
}

table.verbs.ipa_v {
  width: 40%!important;
  margin-bottom: 20px;
}

table.verbs.ipa tr td {
  border-radius: 0px!important;
}

table.verbs tr td {
  background: snow;
  border-bottom: solid #e0e0e0 1px;
  border-right: solid #e0e0e0 1px;
  padding: 5px;
}

table.verbs tr td.number {
  padding: 5px;
  background: #f1f2f3;
  border-bottom: solid #e0e0e0 1px;
  border-right: solid #e0e0e0 1px;
  border-left: solid #e0e0e0 1px;
}

table.verbs tr:first-child td {
  border-radius: 8px 8px 0px 0px;
}

table.verbs tr::last-of-type td {
  border-radius: 0px 0px 8px 8px;
}

table.verbs tr td.ipa {
  border: 1px solid #e9e9e9;
  text-align: center;
}

table.verbs tr td.singa, table.verbs tr td.plua {
  border-right: solid #e0e0e0 1px;
  border-bottom: solid #e0e0e0 1px;
  border-left: solid #e0e0e0 1px;
  background: #f9f9f9;
  font-style: italic;
}

table.verbs tr td.singb {
  border-left: dashed #ccc 1px;
  background: #f6f6f6;
  border-bottom: dashed #ccc 1px;
}

table.verbs tr td.classa {
  border-bottom: dashed #ccc 1px;
}

table.verbs tr.temps td, table.verbs td.temps {
  padding: 6px;
  color: #3a484e;
  background-color: #f2f9fc;
  border: 1px solid #c9e6f2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .1em;
  white-space: normal;
  font-size: 13px;
}

table.verbs tr.temps {
  background-color: #f2f9fc;
  color: white;
}

table.admin {
  border-spacing: 0;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
  background: #f2f2f2;
}

table.admin tr td.actions{

}

table.admin tr:nth-child(even) td{
  background: #f9f9f9;
}

table.admin tr td {
  background: #f3f3f3;
  padding: 6px;
}

table.admin.editing {
  background: #fff;
  border-right: none;
}

table.admin.editing tr.title td {
  background: #FFF;
  font-weight: bolder;
  font-family: Open Sans;
  font-size: 10px;
  color: #000;
  border: 1px solid transparent;
  border-bottom: 1px dotted #d8d8d8;
  border-top: 1px dotted #d8d8d8;
  border-right: 1px dotted #d8d8d8;
  text-transform: uppercase;
}

table.admin.editing tr.title td:first-child {
  border-radius: 7px 0 0 0;
}

table.admin.editing tr.title td:last-child {
  border-radius: 0 7px 0 0;
}

table.admin.editing tr td:first-child {
  border-left: 1px #ccc dotted;
}

table.admin.editing tr td span.pIdiom{
  font-size: 13px;
}

table.admin.editing tr td span.pIdiomHighlight{
  font-weight: bolder;
  font-family: monospace;
  text-decoration: underline;
}

table.admin.editing tbody tr:last-child td:first-child {
  border-radius: 0 0 0 7px;
}

table.admin.editing tbody tr:last-child td:last-child {
  border-radius: 0 0 7px 0;
}

table.admin.editing tbody tr td {
  background: #fff;
  border-right: 1px #ccc dotted;
  border-bottom: 1px #ccc dotted;
  font-family: Open Sans;
  font-size: 10px;
}

table.admin.addword tr td strong.title {
  padding: 5px;
  background: #ececec;
  font-size: 11px;
  color: #555;
  border-radius: 10px;
}

table.admin.addword tr td.center {}

table.admin tr.title td {
  background-color: #383838;
  color: white;
  font-weight: bolder;
}

table.admin.addword tr.title td {
  font-family: Raleway;
  padding: 9px;
}

.logbox {
  width: 40%;
  padding: 8px;
  margin-top: 7px;
  background: #222;
  color: white;
  border-radius: 10px 10px 0px 0px;
}

.logbox img {
  border-radius: 4px;
}

.logbox a {
  color: #f8f8f8;
}

.logbox a:hover {
  color: #D1D1D1;
}

a.gramcat {
  padding: 3px;
  margin-right: 5px;
}

a.gramcat.active {
  border-radius: 3px;
  background-color: #48C7AB;
  color: #fff;
}

.flipswitch {
  position: relative;
  background: white;
  top: 8px;
  width: 40px;
  height: 20px;
  -webkit-appearance: initial;
  border-radius: 3px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
  font-size: 14px;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #B1C9D8;
}

.flipswitch:after {
  position: absolute;
  top: 8%;
  display: block;
  width: 48%;
  height: 90%;
  background: #fff;
  box-sizing: border-box;
  text-align: center;
  transition: all 0.3s ease-in 0s;
  color: black;
  line-height: 15px;
  border: #3498DB 1px solid;
  border-radius: 3px;
}

.flipswitch:after {
  left: 2%;
  content: "no";
  background: #E74C3C;
  font: Verdana;
  font-size: 8px;
  border-color: #C0392B;
  color: #FFF;
}

.flipswitch:checked:after {
  left: 53%;
  content: "yes";
  font-size: 8px;
  border-color: #1E6334;
  color: #e3e3e3;
  background: #2b8b4a;
}

.labelswitch {
  font-size: 12px;
  color: #aaa;
}

.dialog {
  background: white;
  width: 50%;
}

input.nWord, textarea.nWord {
  font-size: 20px;
  color: #000!important;
  font-family: Merriweather;
  font-weight: bolder;
  width: 98%!important;
  display: inline-block;
  margin: 0 auto;
  padding: 18px!important;
  border: rgba(150, 150, 150, 0.1) 1px solid;
  border-bottom: 1px solid #D26232;
}

.btCard.editing .nWord{
  border: rgba(150, 150, 150, 0.4) 1px dashed;
   border-bottom: 1px solid #D26232;
}

textarea.nWord.small {
  font-size: 18px;
  font-family: Trebuchet MS;
  color: #333;
  padding: 10px!important;
  font-weight: normal;
}

input.nWord:invalid {
  color: #333;
  color: rgb(150, 150, 150);
  border: rgba(150, 150, 150, 0.2) 1px solid;
}

input.nWord.normal-font{
  font-size: 18px;
  font-family: Trebuchet MS;
  color: #333;
  font-weight: normal;
}

strong.pWord {
  font-size: 30px;
  cursor: pointer;
  font-family: Merriweather;
  font-weight: bolder;
}

span.pDerivationTitle {
  font-size: 14px;
}

span.pDerivationTitle span.native a {
  font-weight: bold;
  color: #3a484e!important;
  font-family: Merriweather;
  font-size: 11px;
}

span.pDerivationTitle span.native a:hover {
  text-decoration: underline;
}

strong.pDerivationName {
  font-size: 13px;
  font-weight: bold;
}

strong.pDerivation a {
  font-family: Merriweather;
  font-size: 12px;
  color: #68777d;
  font-weight: normal;
}

img.pImage {
  max-height: 68px;
  cursor: pointer;
  width: auto;
  position: absolute;
  right: 20px;
  opacity: 1;
  top: -20px;
  display: box;
  margin-left: 0px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  transition: border-radius .1s, max-height .1s, border .3s;
  border-radius: 7px;
}


img.pImage.editing{
  border: 1px dashed #d8d8d8;
}

img.pImage:hover {
  border-radius: 0px;
  border: 1px solid #c9e6f2;
  max-height: 300px;
  opacity: 1;
  padding-left: 0px;
  background: white;
}

strong.pWord a {
  color: #000!important;
  transition: color .4s;
  padding-bottom: 0px;
}

strong.pWord a:hover {
  color: #D26232!important;
}

#tab {
  display: inline-block;
  margin-left: 20px;
}

a.lemma-code {
  color: #000;
  opacity: 0.2;
  font-size: 14px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  transition: opacity .3s;
  cursor: pointer;
}

a.lemma-code.discussion {
  margin-right: 10px;
  font-family: Open Sans;
  font-size: 12px;
}

a.lemma-code:hover {
  opacity: 1;
  border-bottom: dotted #ccc 1px;
}

a.lemma-code i.fa {
  font-size: 12px;
}

.pSectionWrapper {
  margin-bottom: 10px;
  background-color: rgba(255,255,255,0.7);
  border: 1px solid #ddd;
  border-top: none;
  padding: 10px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.02)
}

.pSectionWrapper.editing {
  background: #fff;
  border-style: dashed;
  border-top: none;
  margin-top: 0px;
}


.pEtymology {
   font-family: Trebuchet MS;
  font-size: 12px;
}

.pNotes{
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 13PX;
  font-family: Trebuchet MS;
}

.pNotes ul{
  list-style: square;
}


.pNotes p{
  display: normal;
}

span.pCognates {
  font-size: 12px!important;
}

span.pCognates a.tooltip {
  font-size: 12px!important;
}

span.pCognates strong {
  text-transform: uppercase;
}

.pPron {
  font-size: 13px;
  color: grey;
  cursor: pointer;
  transition: font-size .3s;
}

.pPron:hover {
  font-size: 25px;
}

span.pSectionTitle {
  font-size: 29px;
  box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.02);
  background-color: #f2f9fc;
  border: 1px solid #c9e6f2;
  color: #68777d;
  display: block;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}

span.pSectionTitle.first {
  border-radius: 7px;
  box-shadow: none;
  display: inline-block;
  width: auto;
  background-color: transparent;
  border: none!important;
  clear: both;
  margin-top: -20px!important;
  margin-bottom: -10px;
  line-height: .9;
  padding-left: 0px;
  padding-bottom: 20px;
}

span.pSectionTitle em.info {
  font-size: 16px;
  font-family: gentium;
}

span.pSectionTitle.extra {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .1em;
  white-space: normal;
  line-height: normal;
  font-size: 13px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
}

span.pSectionTitle.editing {
  border-style: dashed;
  margin-top: 0px;
  margin-bottom: 0px;
}

span.pSectionTitle.editing.first{
  background: none;
  background-color: #f2f9fc;
  border: 1px dashed #c9e6f2!important;
  margin-bottom: 10px;
  padding: 18px;
}

span.pSectionTitle.editing.first strong.pWord a, span.pSectionTitle.editing.first a.tooltip, a.edit-field{
  display: inline-block!important;
  padding: 5px!important;
  border: #d7d7d7 dashed 1px!important;
  border-radius: 7px!important;
  color: #68777d!important;
}

a.red-link{
  display: inline-block!important;
  padding: 5px!important;
  border: #f04f48 dashed 1px!important;
  border-radius: 7px;
  color: #f04f48!important;
  opacity: 0.5;
}

a.btAction.red-link{
  border-radius: 0px!important;
}

a.ttip-sub.red-link{
  border: none!important;
  border-radius: 0px;
  opacity: 0.8;
}

div.ttip_inner{
  background: white;
  border: rgba(0,0,0,0.2) 1px solid;
  padding: 10px;
  min-width: 100px;
  text-shadow: none;
}

.red-link:hover{ opacity: 1; }
a.ttip-sub.red-link:hover {  background: #ddd; }

.red-link{
 
}

a.edit-field:hover{
  font-size: 13px!important;
}

.edit-field{
}

.edit-field:hover{
  padding-right: 0px;
}

.edit-field i.edit{
  opacity: 0.3;
  transition: opacity .3s;
}

.edit-field:hover i.edit{
   opacity: 1;
}

span.pSectionTitle.editing.first a.tooltip:hover{
  font-weight: normal!important;
  text-decoration: underline;
  color: #000;
}


span.pSectionTitle.extra.closed {
  border-radius: 7px;
}

.pSectionTitle.extra.sub {
  margin-top: 0px;
  box-shadow: none;
  background: #f9f9f9;
  border: none;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: -10px;
  width: 100%;
  margin-bottom: 5px;
  font-size: 12px;
  border-radius: 0px!important;
}

span.pSectionTitle.extra.sub.editing {
  border: none;
  background: #fff;
  border-bottom: 1px dashed #d8d8d8;
}

.pSectionWrapper strong.label {
  font-size: 14px;
  text-transform: lowercase;
  font-family: initial;
}

.pSectionWrapper .notice {
  background: none;
  border: none;
}

.pSectionWrapper ol {
  margin: 20px;
  margin-top: 3px;
  margin-left: 15px;
  margin-bottom: 20px;
  padding: 0px;
  font-size: 10px;
  vertical-align: top;
  color: #34392A;
}

.pSectionWrapper ol:last-child {
  margin-bottom: 0px;
}

.pSectionWrapper ol span {
  font-size: 16px;
  vertical-align: baseline;
  font-weight: normal;
  color: #333;
}

.pSectionWrapper p {
  margin: 0;
}

.pSectionWrapper ol span p.desc {
  margin: 0px;
  font-size: 80%;
  background: rgba(140, 140, 140, 0.1);
  width: auto;
  display: inline-block;
  max-width: 30%;
}

.pSectionWrapper ol li span.pIdiom {
  font-size: 14px;
}

.pSectionWrapper ol li span span.pIdiomTranslation {
  font-size: 12px;
}

.pSectionWrapper ol li span span.pIdiomTranslation em {
  font-size: 11px;
  font-family: Gentium;
}

.pSectionWrapper ol li span span.pIdiomHighlight {
  margin: 0px;
  font-size: 110%;
  background: rgba(140, 140, 140, 0.1);
  width: auto;
  font-weight: bold;
  display: inline-block;
}

img.pFlag {
  width: 13px;
  height: auto;
  opacity: 0.9;
}

img.dFlag:hover {
  opacity: 1;
}

.pSectionWrapper a.synonym, .pSectionWrapper a.antonym {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 3px;
  font-weight: bold;
  line-height: 20px;
  color: #6E767A;
  text-align: center;
  background-color: #999;
  font-family: Trebuchet MS;
  font-size: 11px;
}

.pSectionWrapper a.synonym.score-25 {
  background: rgba(200, 220, 230, 0.5);
}

.pSectionWrapper a.synonym.score-50 {
  background: rgba(200, 220, 230, 0.75);
}

.pSectionWrapper a.synonym.score-100 {
  background: rgba(200, 220, 230, 1);
}

.pSectionWrapper a.synonym:hover {
  text-decoration: underline;
  ;
}

.pSectionWrapper a.antonym {
  color: #fff;
}

.pSectionWrapper a.antonym.score-25 {
  background: rgba(135, 125, 150, 0.5);
}

.pSectionWrapper a.antonym.score-50 {
  background: rgba(135, 125, 150, 0.75);
}

.pSectionWrapper a.antonym.score-100 {
  background: rgba(135, 125, 150, 1);
}

.pSectionWrapper a.antonym:hover {
  text-decoration: underline;
  ;
}



.language-status-check, .boolean-check {
  padding: 2px;
  display: inline-block;
  color: #fff;
  background-color: rgba(95,142,103, 0.6);
  border-color: #5f8e67;
  font-size: 10px!important;
}

.language-status-times, .boolean-ban {
  padding: 2px;
  display: inline-block;
  color: #fff;
  background-color: rgba(186,65,63, 0.2);
  border-color: #ba413f;
  font-size: 10px!important;
}


.boolean-check, .boolean-ban{
 width: 24px;
 text-align: center; 
}

.tooltip_templates {
  display: none;
}

strong.aWord {
  font-size: 13px;
  color: darkred;
  cursor: pointer;
  font-family: Open Sans;
}

strong.aWord:hover {}

strong.aWord a {
  color: #68777d;
}

strong.aWord a:hover {
  color: #D85338;
  text-decoration: underline;
}

.aWordWrapper {
  margin-bottom: 2px;
  padding: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-right: 3px double rgba(227, 227, 227, 0.3);
  border-radius: 0px;
}

.aWordWrapper a.tooltip {
  color: #474747;
}

.aWordWrapper:hover {
  background: rgba(200, 200, 200, 0.2)!important;
}

.aWordWrapper .tooltip {
  font-family: Gentium;
}

.aWordWrapper ol {
  padding: 0px;
  margin: 0px;
  margin-left: 10px;
  font-weight: bolder;
  vertical-align: top;
  color: #34392A;
  display: inline;
  list-style: none;
  background: rgba(140, 140, 140, 0.1);
}

.aWordWrapper ol li {
  display: inline;
  font-size: 12px;
  list-style: none;
}

.aWordWrapper ol li:after {
  content: ", ";
}

.aWordWrapper ol li:last-child:after {
  content: "";
}

.aWordWrapper ol span {
  vertical-align: baseline;
  font-weight: normal;
  color: #333;
}

.aWordWrapper ol span p.desc {
  margin: 0px;
  background: rgba(140, 140, 140, 0.1);
  width: auto;
  display: inline-block;
}

.aWordWrapper ol span {
  vertical-align: baseline;
  font-weight: normal;
  color: #333;
}

.aWordWrapper ol span p.desc {
  margin: 0px;
  font-size: 80%;
  background: rgba(140, 140, 140, 0.1);
  width: auto;
  display: inline-block;
}

.aType {
  font-size: 11px;
}

.dGender {
  font-size: 11px;
}

.aPron {
  font-size: 12px;
  color: grey;
  cursor: pointer;
}

.aInflection {
  font-weight: normal;
  font-size: 12px;
  color: grey;
  font-family: Gentium;
}

.aInflection strong {
  font-weight: normal;
}

.aTranslation {
  font: tahoma;
  text-decoration: underline;
}

.aPron:hover {
  font-size: 16px;
}

.hover {
  display: inline-block;
  max-width: 25px !important;
  min-width: 25px !important;
  width: 25px !important;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 4px;
  text-align: center;
  font-size: 0.75em;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  background: #f6f6f6;
}

.hover span.hide {
  display: none !important;
}

.hover:hover span.hide {
  margin: 0;
  display: block !important;
  font-weight: normal !important;
  text-align: left;
  width: 245px;
  padding: 5px;
  background-color: inherit;
  color: inherit;
}

.hover:hover {
  z-index: 10;
}


}
.hover.gray {
  margin: 0 !important;
  border-color: #ccc !important;
  background-color: red;
}
.hover.gray span.hide {
  background-color: #f6f6f6;
  color: #333;
  padding: 7px;
}

/* IPA symbols */
span.ipa {
  display: inline-block;
  padding: 2px;
  margin-right: 1px;
  height: 15px;
  min-width: 15px;
  width: auto;
  background: #d3d3d3;
  cursor: pointer;
  font-family: Open Sans;
  font-size: 12px;
  color: #333;
}
a span.ipa {
  color: #333;
}
span.ipa.selected {
  background: #333;
  color: #fff;
}
span.ipa:hover {
  background: #4f5352;
  color: #fff;
}
.checkbox-wholeword, .radio-wholeword {
  opacity: 0;
  position: absolute;
}
.checkbox-wholeword, .checkbox-wholeword-label {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  cursor: pointer;
  font-size: 12px;
  color: #aaa;
}
.checkbox-wholeword-label, .radio-wholeword-label {
  position: relative;
}
.checkbox-wholeword+.checkbox-wholeword-label:before, .radio-wholeword+.radio-wholeword-label:before {
  content: '';
  background: #FFF;
  border: 1px solid #ddd;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  padding: 0px;
  margin-right: 2px;
  text-align: center;
}
.checkbox-wholeword:checked+.checkbox-wholeword-label:before {
  content: "✓";
  padding-top: 0px;
  line-height: 1.1;
  color: black;
  background-size: cover;
}

.checkbox-wholeword:focus+.checkbox-wholeword-label, .radio-wholeword:focus+.radio-wholeword-label {
  /* focus style */
}
.count {
  font-size: 30PX;
  border-radius: 7px;
  padding: 15px;
  display: inline-block;
  margin-bottom: 30px;
  letter-spacing: -2px;
  background-color: #f2f9fc;
  border: 1px solid #c9e6f2;
  color: #525E7A;
}
.count:hover {}

/* BATCH TRANSLATION */
div.btCard {
  margin: 20px auto;
  margin-top: 10px;
  width: 70%;
  padding: 30px;
  background: #fff;
  box-shadow: 0 2px 20px -2px rgba(0, 0, 0, 0.05)
}

div.btCard.admin{
  width: 85%;
}

div.btCard.link-table{
  width: 70%;
}

div.btCard .pages{
  background: #eee;
  font-size: 11px;
  padding: 4px;
  margin-left: 10px!important;
  margin-right: 2.5%;
  float: right;

}

div.btCard .pages div{
  opacity: 0.4;
  font-family: Raleway;
  cursor: pointer;
  display: inline-block;
  margin-left: 10px!important;
  margin-right: 10px!important;
  transition: opacity .3s;
}

div.btCard .pages div:hover{
  opacity: .9;
}

div.btCard input{
  padding: 5px;
  border: 1px solid #ddd;
}

.btCard select.selectPage{
  width: auto;
  padding: 0;
  font-family: Raleway;
  -webkit-appearance: none;
    -moz-appearance: none;
   font-size: 11px;
}

div.btCard.editing{
  border: 1px dashed #d8d8d8;
  border-radius: 7px!important;
  width: 80%;
}
div.btTitle {
  margin: -30px;
  margin-bottom: 10px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  color: #fff;
  font-weight: bolder;
  font-size: 14px;
  background: #5E6573;
}

div.btCard.link-table div.btTitle{
  
}

div.btCard.editing div.btTitle{
  border-radius: 7px 7px 0px 0px;
  background-color: #f2f9fc;
   border: 1px dashed #c9e6f2;
  color: black;
}
div.btPBAR {
  background: #5E6573;
  min-height: 3px;
  opacity: 0.5;
  margin: 0;
  margin-bottom: 5px;
}
img.btFlag {
  height: 8px;
  width: auto!important;
  opacity: 0.6;
}


span.btLanguage {
  font-variant: small-caps;
  color: #ccc;
  font-size: 12px;
  font-family: !important;
}

div.btCard.admin span.btLanguage {
  color: #333;
}

span.btField {
  color: #000!important;
  font-size: 13px!important;
}
input.btInput, textarea.btInput {
  border-top: none;
  border-left: none;
  border-right: none;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
div.btSource {
  margin-bottom: 20px;
}
div.btSource span.btNative strong {
  color: #68777d;
  font-size: 30px;
  font-family: Gentium;
}
div.btSource a.tooltip {
  font-size: 17px;
  color: #333;
  font-style: italic;
  font-family: Gentium!important;
}
div.btButtonBar {
  margin-top: 20px;
  margin-left: -30px;
  margin-right: -30px;
  margin-bottom: -30px;
  padding: 10px;

  background: #f0f0f0;
  border-top: 1px solid #eee;
}

div.btButtonBar.up{
  margin: 0px;
  margin-left: -30px;
  margin-top: -10px;
  margin-bottom: 15px;
  margin-right: -30px;
}

a.btAction {
  display: inline-block;
  padding: 5px;
  background: #eee;
  border: 1px solid rgba(155, 155, 155, 0.1);
  color: #888;
  text-shadow: 0px 1px 2px rgba(50, 50, 50, 0.2);
  margin-left: 5px;
  font-size: 11px;
  cursor: pointer;
  float: right;
}

table.admin a.btAction{
  font-size: 11px;
}

a.btAction.wikiEdit{
  float: left!important;
}

a.btAction.page{
  float: none!important;
}

a.btAction.blue.page{
  transition: none!important;
  width: 24px;
  text-align: center;
  padding: 0;
}

a.btAction:hover, div.btButtonBar a.btAction.green:hover, div.btButtonBar a.btAction.blue:hover  {
  background: #b2dde4;
  color: #333;
  border: 1px solid #9fd5dd;
}
a.btAction.green {
  background-color: #337357;
  color: snow;
}
a.btAction.blue{
  background-color: #515763;
  color: snow;
}

a.btAction.blue.disabled{
  background-color: #A9AFBC;
  border: 1px #A9AFBC solid;
  opacity: .2;
  cursor: not-allowed!important;
}

a.btAction.blue.disabled:hover{
  border: 1px #A9AFBC solid;
  color: snow;
}

.wdComments-list, .wdComment {
  width: 100%;
  margin-top: 10px;
}
.wdComment a.actionbutton {
  font-size: 12px;
  padding: 4px;
  margin-top: 5px!important;
  margin-left: -2px!important;
  display: inline-block;
}
.wdContent {
  background: #fafafa;
  padding: 10px;
  border: 1px solid rgba(240, 240, 240, 0.4);
  border-radius: 10px;
  font-family: Trebuchet MS;
  font-size: 14px;
}
.wdUserBar strong.wdUserName {
  font-family: raleway;
  font-size: 12px;
  text-transform: lowercase;
}
.wdUserBar span.wdDate {
  color: #666;
  font-size: 12px;
  text-transform: lowercase;
}
.wdUserBar span.wdDate::before {
  content: "«";
  font-size: 10px;
}
.wdUserBar span.wdDate::after {
  content: "»";
  font-size: 10px;
}
.wdUserBar span.wdPoints {
  font-size: 12px;
  color: #999;
}
.wdUserBar span.wdPoints::before {
  content: "[";
}
.wdUserBar span.wdPoints::after {
  content: "]";
}
.wdContent p {
  display: inline-block;
  margin: 0;
}
a.wdTopLink, a.wdTopLink i.fa {
  font-size: 11px;
  color: #222;
}
.wdLinksBar {
  font-size: 12px;
}
.wdLinksBar a {
  color: #777;
}
.wdLinksBar a:hover, a.wdTopLink:hover {
  text-decoration: underline;
}
.wdLinksBar a.reply {
  color: #68777d;
  font-weight: bold;
}
.wdComments .children {
  margin-left: 2%;
  padding-left: 20px;
  width: 100%;
  border-left: dashed 1px #c9c9c9;
}
.wdComments .children.bottom {}
.beta {
  color: #677461;
  font-family: Open Sans;
  font-size: 10px;
}


.wikiSidebar{
  float: left;
  width: 20%;
  margin-right: 0px;
}

.wikiSidebar div{
  background: rgba(230, 230,230, 0.4);
  padding: 10px;
}

.wikiSearch{
  border: rgba(150, 150, 150, 0.1) 1px solid;
  border-bottom: 3px double #D26232;
  padding: 10px;
  font-family: Arial;
  font-style: italic;
  font-size: 15px;
  width: 85%;
}

.wikiHistory li{
  margin-bottom: 5px;
}

.wikiSidebar div a{
  display: block;
  background: #fff;
  border-bottom: 3px white double;
  padding: 4px;
  color: #333;
  font-size: 14px;
  margin-bottom: 3px;
}


.wikiSidebar div a:hover{
  border-bottom: 3px double #B04010;
}

.wikiSidebar div a.orange{
    border-bottom: 3px double #D26232;
    background: #B04010;
    color: white;
}

.wikiSidebar div a.sub{
  margin-left: 30px;
  border-left: 3px double transparent;
  font-size: 13px;
}

.wikiSidebar div a.sub.orange{
  background: #f9f9f9;
  border: none;
  color: #333;
  border-left: 3px double #D26232;
}

.wikiSidebar div a.sub i.fa{
  font-size: 12px;
}

.wikiContent{
  float: right;
  width: 80% - 45px;
  padding-left: 40px;
}

.wikiContent a.lemma-code{
  background: #B04010;
  padding: 4px;
  opacity: 0.8;
  display: inline-block;
  color: white;
  font-size: 10px;
}

.wikiContent a.lemma-code:hover{
   opacity: 1;
}

.wikiContent a.lemma-code.wiki{
  padding: 2px;
}

span.wikiTitle{
  font-family: Merriweather;
  font-weight: bolder;
  font-size: 25px;
  border-bottom: 3px double #ddd;
  padding-bottom: 5px;
  display: block;
}

span.wikiTitle a{
  color: #444;
}
span.wikiTitle a:hover{
  text-decoration: underline;
}

.wikiArticleInner h1, .wikiArticleInner h2, .wikiArticleInner h3, .wikiArticleInner h4, .wikiArticleInner h4, .wikiArticleInner h5, .wikiArticleInner h6{
  font-family: Raleway;
}
.wikiArticleInner h1{
  font-size: 20px;
  
}
.wikiArticleInner h2{
  font-size: 16px;
}

.wikiArticleInner ol, .wikiArticleInner ul{
  margin: 0;
  padding: 2px;
  padding-left: 40px;
  margin-bottom: 7px;
}

.wikiArticleInner li{
  list-style: square;
  margin: 0;
}

.wikiArticleInner table{
  width: 80%;
}

.wikiArticleInner table th{
  border-bottom: solid #eee 1px;
  padding: 3px;
}
.wikiArticleInner table td, .wikiArticleInner table tr{
  border: dashed 1px #eee;
}

ul.wikiHistory li a span.wikiReverted{
  color: #333;
  font-size: 10px;
  text-decoration: underline;
}

ul.wikiHistory li a span.wikiReverted i.fa{
  text-decoration: underline;
}

a.wikiLink.red{
  color: darkred;
}

input.wikiEditTitle{
  background: transparent;
  border: none!important;
  border-bottom: solid 1px white!important;
  width: 80%;
  color: white;
}

input.wikiEditSpecification{
  margin-left: 3px;
  padding: 2px;
  width: 60%;
}

textarea.wikiEditContent{
  width: 100%;
  min-height: 500px;
  border: none;
  font-family: initial;
  padding: 10px;
  border-top: 1px #ccc solid;
  border-bottom: 1px #ccc solid;
}

/*TESTING CONSCRIPT SUPPORT*/
.native, a.tooltip.native, span.native a.tooltip, .wordlink {
  transition: font-size .3s;
}
.native:hover {}


/* D_ADMIN
*/ 

div.d_admin_wrap{
  display: flex;
  margin-right: -15px;
  margin-top: -16px;
}

div.d_admin_menu{
  align-items: stretch;
  max-width: 3.5%;
  min-width: 40px;
  box-shadow: inset 10px 0px 9px -5px rgba(0,0,0,0.5);
  transition: width .2s ease-in, background .2s;
  margin-left: 35px;
  margin-top: -28px;
  margin-bottom: -25px;
  background: #333;
  padding-top: 108px;
}

div.d_admin_menu.stack{

}

div.d_admin_menu a{
  display: block;
  transition: none;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  
  width: 100% - 6px;
  padding: 3px;
  margin-bottom: 10px;
  font-size: 15px;
  text-align: center;
  color: snow;
  text-align:center;
  line-height:30px;
  height:30px;
  font-size:18px;
}
div.d_admin_menu a.active{
  background: #B04010;
}

a.ttip-sub.active{
  background: #B04010;
  color: white;
}

a.ttip-sub{
  display: block;
  margin: 5px;
  margin-left: -5px;
  margin-right: -5px;
  padding: 5px;
  color: black;
}

a.ttip-sub:hover{
  color: snow;
  background: #333;
}

div.d_admin_menu a i.fa{
  font-size: 24px;
}

div.d_admin_menu a:hover{
  background: white;
  color: black;
  text-shadow: initial;
}


div.d_admin{
  width: 100%;
}

.d_admin_header_dropdown{
  cursor: pointer;
  display: inline-block;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid transparent;
}

.d_admin_header_dropdown:hover{
  background-image: linear-gradient(#fcfcfc, #eee);
 border: 1px solid #d5d5d5;
 background: #fff;
   text-shadow: 0px 1px 2px rgba(50, 50, 50, 0.2);
  border: 1px solid rgba(155, 155, 155, 0.1);
    color: #444;

}